.header {
  background-color: $headColor;
  display: flex;
  justify-content: space-between;
  padding: 22px 50px;
  align-items: center;

  @media screen and (max-width: $tabScreen) {
    padding: 24px 40px;
  }

  @media screen and (max-width: $mobScreen) {
    padding: $mobBlockPadding;
  }
}


