.header__logo {
  transition-property: transform;
  transition-duration: 5s;
  transition-timing-function: ease;
  cursor: pointer;

  &:hover {
    transform: rotate(-360deg);
  }

  @media (max-width: $tabScreen) {
    width: 36px;
    height: 36px;
  }

  @media (max-width: $mobScreen) {
    width: 30px;
    height: 30px;
  }
}
