.order__image {
  grid-column: 1/2;
  grid-row: 3/5;
  max-width: 100%;

  @media screen and (max-width: $tabScreen) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0 0 60px 0;
    width: 688px;
  }

  @media screen and (max-width: $mobScreen) {
    width: 280px;
  }
}
